@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
   font-family: 'Inter', sans-serif;
}

/* Hero Section */
.hero .col img{
   width: 500px;
}


section{
   padding-top: 100px;
   padding-bottom: 50px;
}

.about .col img{
   width: 76%;
}

#about .col img{
   width: 70%;
}

@media screen {
   .hero .col img{
      width: 100%;
   }

   #about .col img{
      width: 80%;
   }
}

